<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <h1>Smoothie Drink</h1>
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Visay Vang</h3>
  </div>
</header>

<%- include('partials/footer'); -%>
